.fitness_plus{
    text-align: center;
    padding: 110px 0;
}

.fitness_plus-titulo{
    margin: 0 90px 60px 90px;
}

.fitness_plus-titulo--titulo{
    font-weight: 600;
    font-size: 43px;
    line-height: 52px;
    margin: 15px 0 26px 0;
}

.fitness_plus-titulo-links{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.fitness_plus-titulo-links--item{
    width: 210px;
    border-radius: 980px;
    padding: 12px 0;
    font-weight: 600;
    line-height: 20px;
}

.fitness_plus-titulo-links--saiba_mais{
    background-color: var(--texto-preto);
    color: var(--branco);
}

.fitness_plus-titulo-links--experimente{
    background-color: var(--verde-lima);
    color: var(--texto-preto);
}

.fitness_plus--celular{
    width: 340px;
}

.fitness_plus-descricao--paragrafo{
    margin: 60px 41px 0 41px;
    font-weight: 600;
    font-size: 19px;
    line-height: 25px;
}

.fitness_plus-descricao-conteiner, .fitness_plus-descricao-conteiner-grupo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fitness_plus-descricao-conteiner{
    gap: 45px;
    margin-top: 45px;
}

.fitness_plus-descricao-conteiner-grupo{
    gap: 20px;
    padding: 8.45px;
    margin: 0 70px;
}

.fitness_plus-descricao-conteiner-grupo--img{
    width: 42px;
    height: 42px;    
}

.fitness_plus-descricao-conteiner-grupo--paragrafo{
    font-weight: 600;
    line-height: 23px;
    color: var(--texto-cinza);
}