.iphone{
    background-color: var(--fundo-branco-cinza);
    text-align: center;
    padding-top: 37px;
}

.iphone--titulo{
    font-weight: 600;
    font-size: 29px;
    line-height: 36px;
    color: var(--texto-preto);
}

.iphone--subtitulo{
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: var(--texto-preto);
    margin: 4px 0 15px 0;
}

.iphone-links{
    display: flex;
    justify-content: center;
}

.iphone-links--mais, .iphone-links--comprar{
    font-weight: 400;
    color: var(--link-fundo-branco);
    letter-spacing: -0.374px;
}

.iphone-links--mais::after, .iphone-links--comprar::after{
    padding: 5.1px;
    content: ">";
}