@import url(cabecalho.css);
@import url(economizar.css);
@import url(produtos.css);
@import url(info.css);
@import url(rodape.css);

:root{
    --preto: #000000;
    --branco: #ffffff;

    --fundo-preto: #313131;
    --fundo-branco: #E6E6E6;
    --fundo-branco-cinza: #FBFBFD;
    --fundo-branco-cinza-secundario: #FBFBFB;

    --borda-cinza: #D2D2D7;

    --texto-preto: #1D1D1F;
    --texto-branco: #F5F5F7;
    --texto-cinza: #868B8B;
    --texto-cinza-escuro: #6E6E73;

    --link-fundo-branco: #0066CC;
    --link-fundo-preto: #2997FF;
    --link-texto-cinza: #424245;
}

body{
    background-color: var(--branco);
    color: var(--texto-preto);
    font-family: 'Inter';
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
}